{% extends "base.html" %}


{% block content%}
{% load card %}
<div class="container-fluid mt-3 ">
  <div class="row">

    <!-- filter -->
    <div class="col-lg-3 mx-auto">
      <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action">All Products</a>
        {% for category in Categorye %}
        <a href="/?category={{category.id}}" class="list-group-item list-group-item-action">{{category.Name}}</a>
        {% endfor %}
      </div>
    </div>



    <!-- all Products -->
    <div id='products' class="col-lg-9 mx-auto">
      <div class="row mx-auto">
        {% for Product in Products %}
        <div class="card mx-auto mb-3" style="width: 18rem;">
          <img class="card-img-top" src="{{Product.Image.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{Product.Name}}</h5>
            <!-- <p class="card-text">{{Product.Description}}</p> -->
            <p class="card-text">{{Product.Price}}</p>

            <!-- {{Product | is_in_card:request.session.cart }} -->
          </div>

          <div class="card-footer ">
            {% if Product|is_in_card:request.session.cart %}
            <div class="row no-gutters">
              <input type="submit" value="-" class="col-2 btn btn-block btn-secondary">
              <div class="text-center col">2 in Cart</div>
              <input type="submit" value="+" class="col-2 btn btn-block btn-secondary">
            </div>

            {% else %}
            <form action="/" method="POST" class="btn-block">
              {% csrf_token %}
              <input type="text" hidden name='product' value="{{Product.id}}">
              <input type="submit" class="float-right btn btn-light border form-control" value="Add To Cart">
            </form>
            {% endif %}

          </div>

        </div>
        {% endfor %}
      </div>
    </div>

  </div>
</div>
{% endblock %}